* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  color: #212121;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  background-attachment: fixed;
  animation: gradient 15s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

p {
  margin: 0;
}

img,
picture {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

a {
  display: block;
  margin: 0;
  text-decoration: none;
  color: currentColor;
}

button {
  display: block;
  margin: 0;
  padding: 5px;
  font-size: 1rem;
  border-radius: 10px;
  cursor: pointer;
  color: #fff;
  background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 300%;
  animation: gradient 15s ease infinite;
}

button:hover {
  animation: ani 8s linear infinite;
  border: none;
}

@keyframes ani {
  0% {
    background-position: 0%;
  }

  100% {
    background-position: 400%;
  }
}

button:active {
  background: linear-gradient(32deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

/* Header */
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  padding: 20px 0 20px 0;
  transition: background-color 300ms ease-out, backdrop-filter 300ms ease-out;
}

.header--no-transparency {
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);
}

#search-form {
  display: flex;
  align-items: center;
  font: inherit;
  position: relative;
  width: 40vw;
  border-radius: 10px;
}

.search-form input,
.search-form button {
  border: 0;
  padding: 5px;
  font-size: 1.5vw;
}

.search-form input {
  /*  <-- shold probably remove this for better accessibility, adding for demo aesthetics for now. */
  outline: 0;
  width: 100%;
  border-radius: 10px;
  /* //for iOS input[type="search"] roundedness issue. border-radius alone doesn't work */
  appearance: none;
  transition: all 0.3s cubic-bezier(0, 0, 0.43, 1.49);
  transition-property: width, border-radius;
  z-index: 1;
  position: relative;
}

.search-form button {
  /* // prevent being able to tab to it */
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  width: 10vw;
  border-radius: 0 10px 10px 0;
}

.search-form input:not(:placeholder-shown) {
  border-radius: 10px 0 0 10px;
  width: calc(100% - 10vw);
}

input:not(:placeholder-shown) + button {
  display: block;
}

label {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

/* Gallery */
.container {
  margin-left: auto;
  margin-right: auto;
  padding: 70px 20px 50px;
}

.gallery,
.info {
  display: flex;
  flex-wrap: wrap;
}

.gallery {
  margin-left: -20px;
  padding-top: 30px;
  justify-content: center;
}

.gallery__link {
  margin-top: 20px;
  margin-left: 20px;
  min-width: 320px;
  flex-basis: calc((100% - 80px) / 4);
  border: none;
  overflow: hidden;
  transition: all 0.3s;
  text-decoration: none;
}

.gallery__link:hover,
.gallery__link:focus {
  transform: scale(1.05);
}

.gallery-item {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.gallery-item__img {
  display: block;
  height: 30vh;
  object-fit: cover;
}

.info {
  padding: 10px;
  justify-content: space-around;
}

.info-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: rgb(255, 255, 255);
  font-size: smaller;
}

.info-item:not(:first-child) {
  margin-left: 5px;
}
