* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(-45deg, #ee7752, #6a203c, #0c81ab, #391cbf);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  color: #212121;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
  height: 100vh;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

input {
  max-width: 320px;
  font: inherit;
  font-size: 15px;
  outline: 2px solid #febf00;
  margin-bottom: 24px;
  border: none;
  border-radius: 10px;
  background-color: #e2e2e2;
  outline-offset: 3px;
  padding: 10px 1rem;
  transition: 0.25s;
  margin-right: 15px;
}

input:focus {
  outline-offset: 5px;
  background-color: #fff;
}
button {
  text-decoration: none;
  position: relative;
  border: none;
  font-size: 14px;
  font-family: inherit;
  color: #fff;
  width: 9em;
  height: 3em;
  line-height: 2em;
  text-align: center;
  background: linear-gradient(90deg,#03a9f4,#f441a5,#ffeb3b,#03a9f4);
  background-size: 300%;
  border-radius: 30px;
  z-index: 1;
}

button:hover {
  animation: ani 8s linear infinite;
  border: none;
}

@keyframes ani {
  0% {
    background-position: 0%;
  }

  100% {
    background-position: 400%;
  }
}

button:before {
  content: '';
  position: absolute;
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  z-index: -1;
  background: linear-gradient(90deg,#03a9f4,#f441a5,#ffeb3b,#03a9f4);
  background-size: 400%;
  border-radius: 35px;
  transition: 1s;
}

button:hover::before {
  filter: blur(20px);
}

button:active {
  background: linear-gradient(32deg,#03a9f4,#f441a5,#ffeb3b,#03a9f4);
}
p {
  margin: 0;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 20px;
}

.gallery,
.info {
  display: flex;
  flex-wrap: wrap;
}

.gallery {
  margin-left: -20px;
  padding-top: 30px;
  justify-content: center;  
}

.gallery__link {
  margin-top: 20px;
  margin-left: 20px;
  min-width: 320px;
  flex-basis: calc((100% - 80px) / 4);
  border: none;
  overflow: hidden;
  transition: all 0.3s;
  text-decoration: none;
}

.gallery__link:hover,
.gallery__link:focus {
  transform: scale(1.05);
}

.gallery-item {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;  
}

.gallery-item__img {
  display: block;
  height: 30vh;
  object-fit: cover;  
}

.info {
  padding: 10px;
  justify-content: space-around;
}

.info-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: rgb(255, 255, 255);
  font-size: smaller;

}

.info-item:not(:first-child) {
  margin-left: 5px;
}



